body {
    background-color: black;
    /* Set the background to black */
    margin: 0;
    /* Remove any default margins */
    height: 100vh;
    /* Ensure the body takes full height */
}
/* Loader.css */
.loader-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: sans-serif;
}

.loader-text {
    font-size: 80px;
    letter-spacing: 5px;
    text-transform: uppercase;
    line-height: 100%;
    position: relative;
    z-index: 1;
    mix-blend-mode: difference;
}

.loader-container::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100%;
    background-color: white;
    animation: move 4s linear infinite;
    z-index: -1;
}

@keyframes move {

    0%,
    100% {
        left: 0;
    }

    50% {
        left: calc(100% - 100px);
    }
}